*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
table {
    border: 1px solid black;
    margin: auto;
    padding: 0;
}

.black , .white {
    width: 100px;
    height: 100px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
    color: white;

}